{% extends 'base.html' %}


{% block title %}
<title>Олнайн магазин</title>
{% endblock %}

{% block body %}

<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Стоимость</h1>
       {% for cat, msg in get_flashed_messages(True) %}
            <div class="alert {{ cat }}" role="alert">{{ msg }}</div>
        {% endfor %}
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    {% for el in data%}
      <div class="col">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">{{ el.title }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ el.price }} <small class="text-muted">/ mo</small></h1>
<!--        <ul class="list-unstyled mt-3 mb-4">-->
<!--          <li></li>-->>
<!--        </ul>-->
        <a href="/buy/{{ el.id }}" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
  </div>

</main>
{% endblock %}
